/* styles.css */

.wrapper {
    border: 2px solid red;
    margin: 15px;
    padding: 15px;
}

.maillots {
    display: inline-block; /* ou float: left; */
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.meilleuresVues {
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start; /* Ajuste l'alignement vertical au début de la ligne */
}

.best {
    text-align: center; /* Aligner le texte au centre si nécessaire */
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    flex: 0 0 calc(20% - 20px); /* Calcul de la largeur pour que 5 éléments tiennent sur une ligne */
    box-sizing: border-box; /* Pour inclure les marges dans la largeur de l'élément */
}

.maillotImage {
    border: 1px solid blue;
    width: 200px; 
    height: 175px;
}

.maillotImageBest {
    border: 1px solid blue;
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas la largeur de l'élément parent */
    height: auto; /* Ajustement automatique de la hauteur en fonction de la largeur */
}


.maillot-details{
    border: 1px solid red;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.maillot-details-image{
    border: 1px solid green;
    width: 520px; 
    height: 725px;
}

.maillot-details-info{
    border: 1px solid blue;
    
}

